// Set main and secondary font families
/*

$font-family-base: "Lato", sans-serif;
$font-size-base: 1rem;
$headings-font-family: "Merriweather", serif;
*/

// Responsive font Sizes

// $enable-responsive-font-sizes: true;

// $line-height-base: 1.75;

// Heading Rules

/*
h2,
h3 {
  padding-bottom: $spacer;
}
*/
